* {
    
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

#padre_ppal {
    position: relative;
    display: flex;   
    flex-direction: column;                      
    min-height: 100vh;
    width: 100%;
    background: #F8F9FA;
}

#padre_ppal h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

    #padre_ppal #form_acceso {
        flex-direction: column;
        display: flex;
        width: 90%;
        height: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

        #form_acceso label {
            margin: 0 0 5px 0;
            font-size: 15px;
            font-weight: 500;
        }

        #form_acceso input {
            border: none;
            background: #e5dede;
            padding: 5px;
            border-radius: 6px;
        }

        #form_acceso textarea {
            border: none;
            background: #e5dede;
            padding: 5px;
            border-radius: 6px;
            resize: vertical;
        }

        #form_acceso button {
            width: 100%;
            height: 45px;
            border: none;
            border-radius: 8px;
            background: #4DA6FF;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 15px;
        }

@media screen and (min-width: 650px) {
    
    #padre_ppal #form_acceso {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #F8F9FA;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
        padding: 30px;
    }
}

@media screen and (min-width: 1024px) {
    
    #padre_ppal #form_acceso {
        width: 40%;
        position: relative;
        top: 0;
        transform: translate(-50%, 0);
    }

}


