*{
    box-sizing: border-box;
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

#padre_ppal {
    position: relative;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    z-index: 1;
    background: #F8F9FA;
}

    #padre_ppal h1 {
        font-size: 22px;
        background: #4DA6FF;
        width: 100%;
        height: 50px;
        display: flex;
        padding: 10px;
    }

    #padre_ppal #buscar_estudiante {
        margin-top: 10px;
        margin-left: 10px;
        flex-direction: column;
    }

        #buscar_estudiante label {
            font-weight: 500;
            font-size: 15px;
        }

        #caja_horizontal #documento {
            margin: 10px 0 10px 0;
            width: 150px;
            height: 35px;
            border: 1px solid #151515;
            padding: 3px;
            border-radius: 5px;
        }

        #caja_horizontal button {
            border: 2px solid #4DA6FF;
            background: transparent;
            width: 70px;
            height: 35px;
            color: #4DA6FF;
            border-radius: 5px;
            font-weight: 600;
            margin-left: 5px;
        }

    #padre_ppal table {
        width: 95%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        border-collapse: collapse;
        flex-direction: column;
    }

        table #titulos {
            display: none;
        }

        table #informacion {
            flex-direction: column;
            display: flex;
            width: 100%;
            border: solid 1px #151515;
            padding: 5px;
            border-radius: 8px;
            margin: 5px 0;
        }

            #informacion td {
                display: flex;
                margin: 5px 0;
            }

            #informacion p {
                font-weight: 500;
                margin-right: 15px;
            }

            #informacion td:nth-child(1) {
                font-size: 22px;
            }

            #informacion .acciones {
                flex-direction: column;
            }

                .acciones a {
                    margin: 5px 0 10px 0;
                    font-size: 16px;
                    text-decoration: none;
                }

                .acciones form {
                    width: 100%;
                }

                    form #caso_fecha_cierre {
                        width: 40%;
                        border: none;
                    }

                    form #btn_cerrar_caso {
                        width: 30%;
                        position: relative;
                        left: 40%;
                        transform: translateX(-40%);
                        color: black;
                        border: solid 1px #151515;
                        border-radius: 5px;
                        height: 25px;
                    }

@media screen and (min-width: 1024px) {

    #padre_ppal table {
        width: 98%;
    }

        table #titulos {
            display: flex;
            width: 100%;
            flex-direction: row;
        }

        #titulos th {
            border: solid 1px #151515;
            width: 100%;
        }

            #titulos th:nth-child(1) {
                width: 5%;
                font-size: 14px;
            }

            #titulos th:nth-child(2) {
                width: 10%;
            }

            #titulos th:nth-child(3) {
                width: 10%;
            }

            #titulos th:nth-child(4) {
                width: 18%;
            }   

            #titulos th:nth-child(5) {
                width: 13%;
            }
            
            #titulos th:nth-child(6) {
                width: 13%;
            }

            #titulos th:nth-child(7) {
                width: 12%;
            }

            #titulos th:nth-child(8) {
                width: 19%;
            }

        table #informacion {
            display: flex;
            border: none;
            flex-direction: row;
            margin: 0;
            padding: 0;
        }

            #informacion td {
                display: flex;
                margin: 0;
                width: 100%;
                border: solid 1px #151515;
            }

                #informacion td:nth-child(1) {
                    width: 5%;
                    font-size: 14px ;
                }

                #informacion td:nth-child(2) {
                    width: 10%;
                }

                #informacion td:nth-child(3) {
                    width: 10%;
                }

                #informacion td:nth-child(4) {
                    width: 18%;
                }   

                #informacion td:nth-child(5) {
                    width: 13%;
                }
                
                #informacion td:nth-child(6) {
                    width: 13%;
                }

                #informacion td:nth-child(7) {
                    width: 12%;
                }

                #informacion td:nth-child(8) {
                    width: 19%;
                }

            #informacion p {
                display: none;
            }

                .acciones a {
                    margin: 5px 0 5px 0;
                    font-size: 16px;
                    text-decoration: none;
                }

            #informacion .acciones {
                text-align: center;
            }

                    form #caso_fecha_cierre {
                        width: 40%;
                        border: none;
                        margin: 0 0 5px 0;
                    }

                    form #btn_cerrar_caso {
                        display: block;
                        left: 50%;
                        transform: translateX(-50%);
                        margin: 0 0 5px 0;
                    } 

}