/* Reset general */
* {
    box-sizing: border-box;
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background: #F8F9FA;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div svg {
  position: absolute;
  top: 10px; 
  left: 10px;  
}


/* Caja principal: mobile-first */
#padre_ppal {
    width: 100%;
    max-width: 90%;      
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.63);
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

#titulos {
    display: none;
}

/* Input */
#barra_busqueda {
    width: 100%;              /* ocupa todo el ancho disponible */
    height: 80px;             /* misma altura que el botón */
    padding: 0 10px;          /* espacio interno razonable */
    border-radius: 5px;
    border: 1px solid #151515;
    font-size: 15px;
    box-sizing: border-box;   /* asegura que el padding no rompa el ancho */
}

/* Botón */
button {
    width: 100%;              /* mismo ancho que el input */
    height: 60px;             /* misma altura */
    border: none;
    border-radius: 5px;
    background: #4DA6FF;
    color: white;
    
    margin-top: 15px;
    font-size: 15px;
    
    transition: 0.3s;
}


#informacion td {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    font-size: 15px;
}

#informacion p {
    font-weight: 600;
    margin-right: 10px;
    color: #333;
}

/* Acciones en móvil */
#informacion .acciones {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
}

.acciones a {
    text-decoration: none;
    background: #4DA6FF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

@media screen and (min-width: 650px){
  #padre_ppal {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.63);
    padding: 40px; 
    width: 85%;         
  }

}

@media  screen and (min-width: 1280px){
  #padre_ppal {
    max-width: 600px;     
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.63);
  }
    
}
