*{
    box-sizing: border-box;
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

#padre_ppal {
    position: relative;
    display: grid;                         
    min-height: 100vh;
    width: 100%;
    background: #F8F9FA;
}

#form_acceso {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    padding: 40px 15px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.cont_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.cont_input input,
.cont_input select,
.cont_input textarea {
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #151515;
}

#form_acceso {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    padding: 40px 15px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}