* {
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background: #F8F9FA;
}

#padre_ppal {
    position: relative;
    display: grid;
    width: 100%;
    background: #F8F9FA;
}

#form_acceso {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.63);
    
}

.caja_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.caja_input input,
.caja_input select {
    height: 36px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #151515;
}

.caja_input input::placeholder {
    color: #888;
    font-size: 13px;
}

.caja_boton button {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    background: #4DA6FF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}

.caja_boton button:hover {
    background: #1E90FF;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: #4DA6FF;
    margin-bottom: 20px;
}

@media screen and (min-width: 650px){
    #padre_ppal #form_acceso {
        width: 65%;
        padding: 40px 25px;
    }
}

@media screen and (min-width: 1024px){
    #padre_ppal #form_acceso {
        width: 50%;
        padding: 30px;
    }
}
