<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abrir Caso Estudiantil</title>
    <link rel="stylesheet" href="../static/casos.css">
</head>
<body>
    <!-- Caja principal -->
    <main id="padre_ppal">
        <!-- Mensaje dinámico -->
        {% if msg %}
            <p class="{% if 'correctamente' in msg %}success{% else %}msg{% endif %}">{{ msg }}</p>
        {% endif %}

        <!-- Formulario -->
        <form action="{{ url_for('guardar_caso') }}" method="POST">
            
            
            <input type="text" id="documento" name="documento" placeholder="documento del estudiante" minlength="6" maxlength="10" pattern="[0-9]{6,10}"  required>

            <label for="caso_tipo">Tipo de caso:</label>
            <select id="caso_tipo" name="caso_tipo" required>
                <option value="academico" {% if caso_tipo == 'academico' %}selected{% endif %}>Académico</option>
                <option value="personal" {% if caso_tipo == 'personal' %}selected{% endif %}>Personal</option>
                <option value="familiar" {% if caso_tipo == 'familiar' %}selected{% endif %}>Familiar</option>
                <option value="disciplinario" {% if caso_tipo == 'disciplinario' %}selected{% endif %}>Disciplinario</option>
            </select>

            <label for="caso_descripcion">Descripción del caso:</label>
            <textarea id="caso_descripcion" name="caso_descripcion" rows="4" required></textarea>

            <!-- Profesional oculto -->
            <input type="hidden" name="doc_pronal" value="{{ session['doc_pronal'] }}">

            <!-- Botones -->
            <button type="submit">Registrar caso</button>
            <button type="button" onclick="window.location.href='/dashboard'">Regresar</button>
            <button type="reset">Limpiar formulario</button>
        </form>
    </main>
</body>
</html>
