<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Dashboard - Gestión Institucional</title>
  <link rel="stylesheet" href="../static/dashboard.css">
</head>
<body>
  <!-- Menú lateral -->
  <div class="sidebar">
    <h2>Menú</h2>
    <a href="{{ url_for('mostrar_casos') }}">Abrir Nuevo Caso</a>
    <a href="{{ url_for('lista_casos') }}">Listado Casos</a>
    <a href="{{ url_for('consultarEstudiantes')}}">Listado de estudiantes</a>
    <a href="{{ url_for('consultarUsuario')}}">Listado de profesionales</a>
  </div>

  <div class="main">
    <h1>Dashboard Institucional</h1>
    <div class="cajas">
      <div class="caja">
        <h3>Casos Activos</h3>
        <div class="contador">{{ casos_activos }}</div>
      </div>
    </div>
  </div>
</body>
</html>
