<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/registrar_profesional.css">
    <title>Registrar Profesional</title>
</head>
<body>

    <header>
        <h1>Registrar Profesional</h1>
    </header>

    <main id="padre_ppal">
        <form id="form_acceso" action="{{ url_for('crear_usuario') }}" method="post">
            <div id="cont_contenido">

                <div class="caja_input">
                    <input type="text" 
                           name="cedula" 
                           placeholder="Cédula" 
                           minlength="6"
                           maxlength="10"
                           pattern="[0-9]{6,10}"
                           required>
                </div>

                <div class="caja_input">   
                    <input type="text" 
                           name="nombres" 
                           placeholder="Nombres"
                           minlength="1"
                           maxlength="50"
                           pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s\-']{1,50}" 
                           required>
                </div> 

                <div class="caja_input">
                    <input type="text" 
                           name="apellidos" 
                           placeholder="Apellidos" 
                           minlength="1"
                           maxlength="50"
                           pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s\-']{1,50}" 
                           required>
                </div>

                <div class="caja_input">
                    <input type="text" 
                           name="telefono"
                           minlength="10"
                           maxlength="10"
                           pattern="[0-9]{10}" 
                           placeholder="Telefono" 
                           required>
                           
                </div>

                <div class="caja_input">   
                    <input type="email" 
                           name="correo" 
                           minlength="5"
                           maxlength="76"
                           pattern="^[a-zA-Z0-9]+([._-]?[a-zA-Z0-9]+)*@[a-zA-Z0-9]+([.-]?[a-zA-Z0-9]+)*\.[a-zA-Z]{2,}$"
                           placeholder="Correo" 
                           required>
                </div> 

                <div class="caja_input">
                    <select name="rol" required>
                        <option value="directivo">directivo</option>
                        <option value="coordinacion">Coordinación</option>
                        <option value="docente">Docente</option>
                        <option value="profesional_apoyo">profesional de apoyo</option>
                    </select>
                </div>

                <div class="caja_input">
                    <input type="password" 
                           name="contrasena" 
                           minlength="6"
                           maxlength="20"
                           pattern="[A-Za-z0-9]{6,20}"
                           title="Debe tener entre 6 y 20 caracteres alfanuméricos y sin caracteres especiales"
                           placeholder="Contraseña"
                           required>    
                </div>

                <div class="caja_boton">
                    <button type="submit">Registrar</button>
                </div>

            </div>
        </form>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
                <script>
                    Swal.fire({
                    icon: "{{ 'success' if category == 'success' else 'error' }}",
                    title: "{{ message }}",
                    confirmButtonColor: "#4DA6FF"
                    });
                </script>
                {% endfor %}
            {% endif %}
    {% endwith %}

</body>
</html>
