*{
    box-sizing: border-box;
    transition: 0.5s;
    top: 0;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14xp;
}

#padre_ppal {
    position: absolute;
    min-height: 100vh;
    display: flex;
    width: 100%;
    z-index: 1;
    background: #F8F9FA;
}

    #padre_ppal #form_acceso {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 50%;
        padding: 40px 15px;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    }

        #form_acceso #cont_contenido {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            height: 100%;
        }

            #cont_contenido input {
                width: 100%;
                height: 40px;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #151515;
            }

            #cont_contenido button {
                width: 100%;
                height: 45px;
                border: none;
                border-radius: 5px;
                background: #4DA6FF;
                color: white;
                font-weight: bold;
                cursor: pointer;
                margin-top: 15px;
            }

@media screen and (min-width: 650px) {

    #padre_ppal #form_acceso {
        top: 60%;
        width: 45%;
        height: 35%;
        padding: 40px 15px;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    }
}

@media screen and (min-width: 1024px) {

    #padre_ppal #form_acceso {
        top: 50%;
        width: 25%;
        height: 50%;
        padding: 30px;
    }
}